.movie{
    display: flex;
    justify-content: space-evenly;
    border: solid 1px rgb(212, 212, 212);
    width: 600px;
}
h1{
    color: white;
}
.text{
    text-align: center;
}
.image{
    border: solid 4px rgb(201, 200, 200);
    margin: 20px;
}
p{
    color: white;
}
button{
    background-color: transparent;
    border: transparent;
}
.image>img{
    width: 320px;
    height: 430px;
    display: block;
}
.coeur{
    color: pink;
}
.heart{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.aff{
    text-align: end;
    color: white;
    margin-right: 20px;
    margin-top: 30px;
}
.fa-heart{
    font-size: 50px;
}
.prix{
    font-size: 35px;
    color: rgb(243, 208, 10);
}